/*
https://icons8.com/icon/set/instagram/ios-filled
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #070D0D;
    --colorOne: white;
}

#landingPage{    height: 100dvh;
    width: 100vw;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#landingPageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background: rgb(0, 0, 0);
    flex: 1 1 0;
    overflow: hidden;

}
#landingPageHeader h1{
    color: var(--colorOne);
    font-size: 3rem;
}
#landingPageHeader h1::selection{
    color: rgb(0, 191, 255);
}
#landingPageHeader p{
    color: white;
}
#landingPageHeader p::selection{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 191, 255);
}
#pictureOfMeOne{
    transition: transform 1s;
}




.meOne{
    background: url("mebutfancyBg.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    
}
.meToo{
    background: url("meWithGlasses.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.pictureOfMe{

    cursor: pointer;

}
#wrapper{
    border-radius: 100px;
}
.rollAround{
    animation: rollAround 2s;
}



#landingPageFooter{
    background: white;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#shareWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    gap: 5vw;
}
@media screen and (max-width: 600px) {
    #shareWrapper{
        justify-content: space-between;
    }
}
.socialButtonWrapper{
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}
.hideOverflow{
    transform: translateY(-100%);
    overflow: hidden;
    width: 0;
    height: 2vh;
    padding-bottom: 2vh;
    border-bottom: 2px solid black;
    transition: width 1s;
    text-align: center;
}
@media (any-pointer: fine){
    
        .socialButtonWrapper:hover .hideOverflow{
            width: 5rem;
        }
        .socialButtonWrapper:hover .socialLabel{
            transform: translateY(-20%) translateX(-50%);
        }
    
}
/*@media not (any-pointer: fine){
    @media (any-pointer: coarse){*/
        .socialButtonWrapper .hideOverflow{
            width: 100%;
        }
        .socialButtonWrapper .socialLabel{
            transform: translateY(-20%) translateX(-50%);
        }
    /*}
}*/
.socialLabel{
    position: absolute;
    top: 0;
    left: 50%;
    color: rgb(0, 0, 0);
    transition: transform 1s;
    transform: translateY(100%) translateX(-50%);
    overflow: visible;
}


#landingPageFooter a img{
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}

#landingPageFooter a:hover img{
    transform: scale(1.5);
}


.x{
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    cursor: pointer;
}

.projectPage{
    position: absolute;
    transition: height 1s;
    left: -5vw;
    top: 55dvh;

    width: 110vw;
    height: 110dvh;

    background: url(mebutfancyBg.png);
    background-position: center;
    background-size: cover;
    filter: blur(8px);

    transform: translateY(-50%);


}



.pageList{

    position: absolute;
    transition: height 1s, padding 1s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50dvh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5vh;
    padding:5vh;
    align-items: center;
    overflow: hidden;

}

.pageList a{
    padding: 2vw;
    background: white;
    color: black;
    text-decoration: none;
    width: 90%;
    text-align: center;
    box-shadow: 4px 4px  gray;
}
.pageList a:active{
    transform: translate(4px, 4px);
    box-shadow: none;
}



@media (any-pointer: coarse ) {
    
    .socialLabel{
        transform: translateY(0);
    }
    @keyframes rollAround {
        0%{
            transform: translateX(0);
        }
        48%{
            transform: translateX(100vw);
            opacity: 1;
        }
        49%{
            opacity: 0;
            transform: translateX(-100vw);
        }
        50%{
            opacity: 1;
        }
        100%{
            transform: translateX(0);
        }
    }
    .pageList{
        width: 90vw;
    }
    .projectPage{
        transition: opacity 1s;
        opacity: 1;
    }
    .pageList{
        transition: opacity 1s;
        opacity: 1;
    }
    .hidden{
        opacity: 0;
    }

}



@media (any-pointer: fine) {
    @keyframes rollAround {
        0%{
            transform: translateX(100%) rotateY(0deg);
        }
        48%{
            transform: translateX(100vw) rotateZ(360deg);
        }
        49%{
            opacity: 0;
            transform: translateX(-100vw) rotateZ(-360deg);
        }
        50%{
            opacity: 1;
        }
        100%{
            transform: translateX(0) rotateZ(0deg);
        }
        
    }
    #wrapper:hover .pictureOfMe{
        transform: translateX(100%) rotateZ(360deg);
    }
}
.hidden{
    height: 0;
    padding: 0;
}



